extends navbar

append content
    div(style="margin-top:-100px;")
        center .
        if(jogos)
            each jogo in jogos
                each dados in jogo
                    div
                        center(style="margin-top:5%")
                            div(style="margin-left:auto; margin-right:auto;width:516.6px")
                                - var jg = dados;
                                div(style="float:left")
                                    img(id="lol" style="height:150px;width:150px;", src=jg.equipaCasa)
                                    div(style="float:right")
                                        span(style="font-size:24px;font-weight:900;") #{jg.nome}
                                        p(style="font-size:24px;font-weight:900;") #{jg.golosCasa} : #{jg.golosFora}
                                div(style="margin-left:auto; margin-right:auto; float:left")
                                    img(style="height:150px;width:150px;",src=jg.equipaFora)