extends navbar

append styles
    style.
        .rounded-btn:hover,.rounded-btn:focus,.rounded-btn:active,.rounded-btn:visited{
            color: rgba(255,255,255,1) !important;
            border: 2px solid rgba(255,255,255,1) !important;
            outline: none !important;
        }
        
        .rounded-btn{
            -webkit-border-radius: 50px !important;
            border-radius: 50px !important;
            color: #222 !important;
            background: white !important;
            border: 2px solid #222 !important;
            font-size: 18px !important;
            line-height: 40px !important;
            padding: 0 25px !important;
            text-shadow:0 0px !important;
            font-weight:normal !important;
        }

append content
        a(class="btn rounded-btn",onClick="",style="position: absolute;right: 10px;top: 50px;") Add Jogo
        div(style="margin-top:-30px;")
            center
                if(jogos)
                    each jogo in jogos
                        each dados in jogo
                            div(style="margin-top:5%;padding-left:25%;text-align:justify;border-bottom:1px solid;width:100%;")
                                form(action="/signup", method="post", id="jogosForm"+jd.id)
                                    - var jg = dados;
                                    label Imagem Casa:&emsp;&nbsp;&nbsp;
                                        input(placeholder="Imagem Casa", name="imgcasa"+jd.id, type="text",value=jg.equipaCasa,style="margin-right:25px;")
                                        Imagem Fora:&emsp;&emsp;&emsp;&emsp;
                                            input(placeholder="Imagem Fora", name="imgfora"+jd.id, type="text",value=jg.equipaFora,style="margin-right:80px;")
                                        n Nome do Jogo:&emsp;
                                            input(placeholder="Nome do Jogo", name="njogo"+jd.id, type="text",value=jg.nome,style="margin-right:25px;")
                                    label Golos Casa:&emsp;&emsp;&nbsp;&nbsp;&nbsp;
                                        input(placeholder="Golos Casa", name="gcasa"+jd.id, type="text",value=jg.golosCasa,style="margin-right:25px;")
                                        n Golos Fora:&emsp;
                                            input(placeholder="Golos Fora", name="gfora"+jd.id, type="text",value=jg.golosFora,style="margin-right:80px;")
                                        a(class="btn rounded-btn",onClick='subform("+jd.id+")',href="#") Save
                                        span &emsp;&emsp;
                                        a(class="btn rounded-btn",onClick='delform("+jd.id+")',href="#") Delete
        block scripts
            script